<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Harmony微網址</title>
</head>
<body>
    <header>
        <h1>Harmony微網址</h1>
    </header>

    <nav class="nav_bar">
        <div>Harmony</div>
        <div>Others</div>
    </nav>

    <section class="main_frame">
        <input type="url" id="the_url" class="the_url">
        <button id="send_btn">縮網址</button>
        <div id="alerts"></div>

        <div id="shorted_url">縮完顯示在這裡</div>

    </section>

    
    <footer></footer>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>